/* Add CSS Styling */

.odd-num {
    background-color:#ffc0cb;
    font-family:Verdana, 'Dejavu Sans', sans-serif;
}

#one {
    color:#0000ff;
    font-size: 36px;
}

.odd-num.cooler {
    font-size: 24px;
}

#two {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}