/* Add CSS Styling */
.first {
    background-color:hsl(0, 0%, 0%);
    color:rgb(255, 255, 255);
}

.second {
    background-color: rgb(255, 255, 0);
}

.first, 
.second {
    font-size: 28px;
    font-family: Helvetica, 'Times new Roman', sans-serif;
}